<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Metacare API
        link(rel="stylesheet", href="index.css")
    body
        .wrapper
            .container
                img(src='lion.png' alt='Lion')
                h1.text-center.text-white Metacare
                p.text-center.text-white Check API doc here 
                    a.text-white(href='/api/docs') Here